.s-hero {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        color: antiquewhite;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 5rem;
    }
}